name: Check Python Project

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 1 # latest only

      - name: Python set up
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          # cache: "pip"
      - name: Setup
        run: |
          cp sql2csv_credentials-EXAMPLE.py sql2csv_credentials.py

      - uses: pre-commit/action@v3.0.1
